@import "nav";

.main {
    display: flex;
    flex-direction: column;
    width: 60%;

    @media (max-width: 720px) {
        width: 100%;
    }

    .title {
        font-size: 20px;


        @media (max-width: 720px) {
            font-size: 2em;
            text-align: center;
        }

        h2 {
            padding-bottom: 20px;
        }
    }

    .products {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        @media (max-width: 720px) {
            flex-direction: column;
        }
    

        .product {
            display: flex;
            flex-direction: column;
            background-color: $lightgrey;
            width: 40%;
            margin: 20px;

            @media (max-width: 720px) {
                width: 100%;
                margin: 0;
            }

            h3 {
                padding: 10px;
            }

            p {
                padding: 10px
            }
        }
    }
}

@import "footer";